SCRATCH/_temp_parsed_paths_df.csv
.ipynb_checkpoints
Environment/GreatLakes/viz3d
data/RoyMaze1/positionAnalysis.mat
.vscode/settings.json
**/__pycache__/**
**/.DS_Store
PhoPyPlaceCellReplayAnalysis/PhoScripts/dask-worker-space
PhoPyPlaceCellReplayAnalysis/PhoScripts/PhoOutputs
output/test_plotting.mp4
output/complete_plotting.mp4
output/top_view.vtkjs
complete_plotting.mp4
.idea
*.asv
output
.spyproject
data/ExportedData
*.pkl
pf1D-*.png
multipage_pdf.pdf
neurons_zeta_results_list.npz
zetapy.7z
zetapy
PyQtPlotExamples/Console-icon.png
pipeline_cache_store.h5
epoch_rect_meshes_cache.ply
LibrariesExamples/Vedo/clipped.vtk
data/mesh_caches/*.ply
data/clipped.vtk
data/completed_pipeline.npz
data/mesh_caches/Fri-08-Apr-2022-11-14-52
.qt_for_python
EXTERNAL/TESTING/OLD/**
**/.ipynb_checkpoints
dist/stager.exe
build/py_installer
EXTERNAL/Screenshots/Other Features/Tue-17-May-2022-18-32-34
testPlotter_export_html_Pho.html
testPlotter_export_obj_Pho.obj.mtl
testPlotter_export_obj_Pho.obj.obj
testPlotterSavePho.obj
.favorites.json
EXTERNAL/Design/Neuropy Exports
EXTERNAL/Screenshots/PyVista-Based/InteractivePlaceCellDataExplorer/Exported 3D Objects
data/computation_results_cache_store.h5
data/test_cache_store.h5
EXTERNAL/Design/Icons/fugue-icons-3.5.6-src
EXTERNAL/Design/Icons/InteractiveTuningCurvesPlotter/TuningMapDataExplorer.PNG
EXTERNAL/Design/Icons/InteractivePlaceCellDataExplorer/InteractivePlaceCellDataExplorer - Closeup.png
env
EXTERNAL/Screenshots/Various2DPlots/display_plot_most_likely_position_comparison/display_plot_most_likely_position_comparison - LARGE - QT.pdf
EXTERNAL/Screenshots/Various2DPlots/display_plot_most_likely_position_comparison/display_plot_most_likely_position_comparison - LARGE - QT.png
build
dist
EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting/2022-07-05
EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting/2022-07-10
EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting
python_PipelineRun.build
python_PipelineRun.cmd
python_PipelineRun.exe
EXTERNAL/Design/Icons/Features
viztracer_report.json
.vscode/configurationCache.log
.vscode/targets.log
.vscode/dryrun.log
viztracer_report_pre_remove_name.json
EXTERNAL/Design/Icons/Occupancy.png
EXTERNAL/Design/Icons/Export
EXTERNAL/Design/Icons/Potential
EXTERNAL/TESTING/Logging/debug_com.PhoHale.Spike3D.notebook.log
EXTERNAL/TESTING/Logging/debug_com.PhoHale.Spike3D.pipeline.log
EXTERNAL/TESTING/Logging/.vscode/settings.json
EXTERNAL/TESTING/Logging/*.log
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D.ai
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0000_Spike.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0000s_0000_Spike2DPortion copy.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0000s_0001_2D copy.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0001s_0000_TopBar.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0001s_0000s_0000_Layer 4.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0001s_0000s_0001_Layer 3.psd
EXTERNAL/Design/Icons/SplitLayers/SpikeRaster2D_0001s_0001_Background.psd
EXTERNAL/Design/Icons/SplitLayers/SVG/Spike3D LogoText_2D.svg
EXTERNAL/Design/Icons/SplitLayers/SVG/Spike3D LogoText_SPIKE.svg
.vscode/bookmarks.json
iframe_figures
bayes_decoder_test_data.npz

.autoversion
marginal_posterior_x.npy
node_modules/.yarn-integrity
yarn.lock
EXTERNAL/DEVELOPER_NOTES/2023-01-17 pyqt fiasco/MALNAMED.7z
pipeline_cache_store_2023-01-19.h5
viztracer_2023-01-*.json
viztracer_*.json
df_store.h5
desktop.ini
FM-{E05797A1-0B8F-4A00-B50D-76B7EE01D766}.ico
wingdbstub.py
*.sha256
.virtual_documents
new-workspace.jupyterlab-workspace
fileName.png
LibrariesExamples/streamsync/hello/static/favicon.png
LibrariesExamples/streamsync/hello/static/pigeon1.jpg
tags
cscope.out
cscope.files
kdiba_gor01_one_2006-6-08_14-26-15_long_short_firing_rate_indicies.png
.neptune
.venv_2023-05-30.7z
"site/" 
site
SCRATCH/pylustrator_test/fig3_test.png
SCRATCH/pylustrator_test/pf1D.png
SCRATCH/neurons.h5
alluvial_diagram.png
alluvial_diagram_with_session.png
.venv
.venv_alt
.venv_raw
.venv_new
.venv_yellow
EXTERNAL/Screenshots/Unsorted/BapunOpenField_Pf2D Refined.pdf
EXTERNAL/Screenshots/Unsorted/BapunOpenField_Pf2D_Exports/BapunOpenField_Pf2D_pf2D.png
SCRATCH/EXTERNAL/TESTING/Logging/debug_com.PhoHale.Spike3D.pipeline.log
*.xmp
*.gif
EXTERNAL/Design/Icons/RemoteIcons.qrc
EXTERNAL/Design/Icons/3d-plane-normal-x.png
EXTERNAL/Design/Icons/silx
position_laps_plot.png
workspaceState.state.json
ReviewOfWork_2023-12-13.ipynb (active_epochs_df) .csv
ReviewOfWork_2023-12-15.ipynb (ripple_combined_epoch_stats_df).csv
ReviewOfWork_2023-12-15.ipynb (laps_combined_epoch_stats_df).csv
ReviewOfWork_2023-12-15.ipynb (ripple_combined_epoch_stats_df)_11pm.csv
ReviewOfWork_2023-12-19.ipynb (ripple_combined_epoch_stats_df).csv
test_ripple.png
.directory
EXTERNAL/Screenshots/Other Features/SingleMergedPseudo2D.svg
EXTERNAL/Screenshots/Other Features/MergedPseudo2D
data/ReviewOfWork_2024-02-06.ipynb (decoder_aclu_peak_location_df_merged).csv
typings
test_(ripple_all_scores_merged_df).csv
13-Sessions_laps_marginal.html
SCRATCH/EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting/2024-04-16/kdiba/15_display_long_short_laps.png
.venv_teal
LibrariesExamples/Silx/EXTERNAL/TESTING/Logging/debug_com.PhoHale.Spike3D.pipeline.log
SCRATCH/posterior_mask.edf
SCRATCH/EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting/**/*.png
SCRATCH/laps.png
test.hdf
.venv_white
.venv_yellow
.venv_black
.venv_white
.venv_gray
.venv_green
.venv_orange
.vscode/bookmark_x.json
.venv_teal
cell_execution_log.json
.venv_*
_cell_execution_log_*.json
.env
output/Exports/2024-08-01_array_as_image/*
**/output/_temp_individual_posteriors/**/*.png
EXTERNAL/PhoDibaPaper2024Book/_build
EXTERNAL/PhoDibaPaper2024Book/EXTERNAL/Screenshots/ProgrammaticDisplayFunctionTesting/2024-09-04
EXTERNAL/PhoDibaPaper2024Book/EXTERNAL
EXTERNAL/PhoDibaPaper2024Book/FIGURES
viridis_colorbar.png
*.log
data/neptune/commander.pho/PhoDibaLongShortUpdated/figs
