alabaster==0.7.12
aplus==0.11.0
asciitree==0.3.3
autobahn==22.3.2
Automat==20.2.0
binaryornot==0.4.4
blinker==1.4
certifi==2022.6.15
commonmark==0.9.1
conda==4.13.0
conda-build==3.21.9
constantly==15.1.0
cytoolz==0.11.2
dearpygui==1.5.1
Deprecated==1.2.13
docopt==0.6.2
easydict==1.9
et-xmlfile==1.1.0
fastrlock==0.8
flatdict==4.0.1
glob2==0.7
HeapDict==1.0.1
hickle==3.4.5
hmmlearn==0.2.7
hyperlink==21.0.0
incremental==21.3.0
indexed==1.2.1
intervaltree==3.0.2
ipython-genutils==0.2.0
jupyter-rfb==0.3.1
littleutils==0.2.2
llvmlite==0.38.0
locket==0.2.1
mkl-service==2.4.0
multipledispatch==0.6.0
munkres==1.1.4
opensimplex==0.4.2
pandas-flavor==0.2.0
ply==3.11
polyscope==1.3.1
poyo==0.5.0
prodict==0.8.18
protobuf==3.19.4
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyct==0.4.6
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
PyQt5Singleton==0.1
PyQt6==6.1.0
pyqt6-plugins==6.1.0.2.2
PyQt6-Qt6==6.2.3
PyQt6-sip==13.2.1
pyqt6-tools==6.1.0.3.2
PyQtChart==5.12
PyQtWebEngine==5.12.1
pytest==6.2.5
python-dotenv==0.19.2
python-qt-live-coding==0.4.2
pywin32==303
pyzstd==0.15.1
QScintilla==2.11.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
scikit-posthocs==0.6.7
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
tables==3.7.0
text-unidecode==1.3
torch==1.10.2
Twisted==22.2.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
vaex-distributed==0.3.0
webencodings==0.5.1
wincertstore==0.2
wslink==1.4.3
xlwt==1.3.0
zope.interface==5.4.0