numpy~=1.20.3
pandas~=1.4.0
pyvista~=0.33.2
matplotlib~=3.5.1
pyphocorehelpers~=0.0.post1.dev64+g298bc0f
pyvistaqt~=0.7.0
scipy~=1.6.3
vtk~=9.1.0
dataclasses~=0.8
ipywidgets~=7.6.5
ipython~=8.0.1
pyqtgraph~=0.12.3
pyphoplacecellanalysis~=0.0.post1.dev93+g09beb59.d20220201
param~=1.12.0
scikit-learn~=1.0.2
bqplot~=0.12.32
seaborn~=0.11.2
ipygany~=0.5.0
h5py~=3.6.0
hdf5storage~=0.1.16
colorcet~=3.0.0
rich==11.2.0
findpeaks~=2.4.3
opencv-python~=4.6.0
indexed~=1.2.1
pybursts~=0.1.1
