numpy~=1.23.2
pandas~=1.5.1
pyvista~=0.36.1
matplotlib~=3.6.1
pyphocorehelpers~=0.0.post1.dev227+gabee279
pyvistaqt~=0.9.0
scipy~=1.7.3
vtk~=9.0.3
dataclasses~=0.8
ipywidgets~=7.7.2
ipython~=8.6.0
pyphoplacecellanalysis~=13.post1.dev649+gfd92cae
scikit-learn~=1.1.2
seaborn~=0.12.0
h5py~=3.7.0
# alive_progress<2.2
reportlab~=3.6.12
pypdf2~=2.10.8
pillow~=8.4.0
pyqt5~=5.15.4
numba~=0.56.2
pyqt6~=6.1.0
pyqt5custom~=1.0.1
silx~=1.1.0a0
hdf5plugin~=3.3.1
fabio~=0.14.0
scikit-image~=0.19.3
vedo~=2022.1.0.dev9
datoviz~=0.1.0a1
qdarkstyle~=3.1
qt~=5.12.9
qtpy~=2.1.0
pypdfplot~=0.6.5
typing~=3.10.0.0
piso~=0.9.0
dill~=0.3.5.1
elephant~=0.11.2
quantities~=0.13.0
neo~=0.11.1