absresgetter==0.0.12
adjustText==1.1.1
aiofiles==22.1.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==0.7.16
alembic==1.13.1
altair==5.3.0
amqp==5.2.0
annotated-types==0.6.0
ansi2html @ git+https://github.com/CommanderPho/ansi2html.git@9a8e27419460a2f6d65372c22a89429a2039b49d
ansicon==1.89.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
AnyQt==0.2.0
aplus==0.11.0
app-model==0.2.6
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
astropy==6.0.1
astropy-iers-data==0.2024.4.22.0.29.50
asttokens==2.4.1
async-generator==1.10
async-timeout==4.0.3
asyncssh==2.14.2
atpublic==4.1.0
attrs==22.2.0
autobahn==23.6.2
autocommand==2.2.2
Automat==22.10.0
autopep8==2.1.0
awkward==2.6.3
awkward-cpp==32
Babel==2.14.0
backports.tarfile==1.1.1
baycomp==1.0.3
beartype==0.14.1
beautifulsoup4==4.12.3
better-exceptions==0.3.3
billiard==4.2.0
binaryornot==0.4.4
black==24.4.2
blake3==0.4.1
bleach==6.1.0
blessed==1.17.12
blinker==1.8.0
blosc2==2.5.1
bokeh==3.2.2
boto3==1.34.93
botocore==1.34.93
Bottleneck==1.3.8
bqplot==0.12.43
branca==0.7.2
bravado==11.0.3
bravado-core==6.1.1
build==1.2.1
cachetools==5.3.3
cachey==0.2.1
caerus==0.1.9
cairocffi==1.7.0
CairoSVG==2.7.1
casa-formats-io==0.3.0
catalogue==2.0.10
catboost==1.2.5
cattrs==23.1.2
celery==5.4.0
certifi==2024.2.2
certipy==0.1.3
cffi==1.16.0
cftime==1.6.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-man==0.4.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
comm==0.2.2
commonmark==0.9.1
configobj==5.0.8
constantly==23.10.4
contourpy==1.2.1
cookiecutter==2.6.0
cryptography==42.0.5
cssselect2==0.7.0
cycler==0.12.1
dash==2.16.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-mantine-components==0.12.1
dash-table==5.0.0
dask==2024.2.1
debugpy==1.8.1
decorator==5.1.1
deeptime==0.4.4
defusedxml==0.7.1
Deprecated==1.2.14
desert==2022.9.22
dictdiffer==0.9.0
dill==0.3.5.1
diskcache==5.6.3
distro==1.9.0
docstring_parser==0.16
docutils==0.21.2
dpath==2.1.6
dulwich==0.22.1
dvc==2.46.0
dvc-data==0.42.3
dvc-gdrive==2.19.1
dvc-http==2.32.0
dvc-objects==0.25.0
dvc-render==1.0.2
dvc-studio-client==0.20.0
dvc-task==0.4.0
echo==0.8.0
elephant==0.11.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fabio==2024.4.0
Faker==24.14.1
fast-histogram==0.14
fastapi==0.110.2
fastdtw==0.3.4
fasteners==0.19
fastjsonschema==2.19.1
favicon==0.7.0
filelock==3.13.4
findpeaks==2.6.1
Flask==3.0.3
flatten-dict==0.4.2
flexitext @ git+https://github.com/CommanderPho/flexitext.git@8cd274c8cb97fe6f32ca56b3c792ae97eb4cc521
flufl.lock==8.1.0
fonttools==4.51.0
fqdn==1.5.1
freetype-py==2.4.0
frozendict==2.4.2
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
funcy==2.0
future==1.0.0
gast==0.4.0
geojson==3.1.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
glue-core==1.21.0
glue-qt==0.3.1
glue-vispy-viewers==1.1.0
glueviz==1.2.0
google-api-core==2.18.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
grandalf==0.8
graphviz==0.20.3
greenlet==3.0.3
griffe==0.44.0
h11==0.14.0
h5glance==0.8.1
h5netcdf==1.3.0
h5py==3.11.0
handsdown==2.1.0
hdf5plugin==4.4.0
hdf5storage==0.1.19
hdmf==3.13.0
HeapDict==1.0.1
highlight-text==0.2
hmmlearn==0.2.8
holoviews==1.18.3
hsluv==5.0.4
htbuilder==0.6.2
htmlgen==2.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
hvplot==0.8.4
hydra-core==1.3.2
hyperlink==21.0.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
imagesize==1.4.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
in-n-out==0.2.1
incremental==22.10.0
indexed==1.3.0
inflect==7.2.1
iniconfig==2.0.0
ipdb==0.13.13
ipydatagrid==1.3.1
ipydatawidgets==4.3.5
ipygany==0.5.0
ipykernel==6.29.4
ipyleaflet==0.19.0
ipympl==0.9.4
ipython==8.18.1
ipython-genutils==0.2.0
ipytree==0.2.2
ipyvolume==0.6.3
ipyvue==1.11.0
ipyvuetify==1.9.4
ipywebrtc==0.6.0
ipywidgets==8.1.2
isoduration==20.11.0
iterative-telemetry==0.0.8
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.clipboard==3.1.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.structures==2.2.0
jaraco.text==3.12.0
jaraco.ui==2.3.0
jaraco.windows==5.8.0
jedi==0.19.1
Jinja2==3.1.3
jinxed==1.2.1
jmespath==1.0.1
joblib==1.4.0
json5==0.9.25
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-bokeh==3.0.7
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-leaflet==0.19.0
jupyter-rfb==0.4.2
jupyter-telemetry==0.1.0
jupyter-ydoc==0.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_fileid==0.9.2
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterhub==4.1.5
jupyterlab==3.6.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
jupytext==1.16.1
kaleido==0.1.0.post1
keyring==25.2.0
keyrings.alt==5.0.1
kiwisolver==1.4.5
klepto==0.2.2
kombu==5.3.7
lazy_loader==0.4
libcst==1.3.1
linkify-it-py==2.0.3
littleutils==0.2.2
llvmlite==0.39.1
locket==1.0.0
loguru==0.6.0
LovelyPlots==0.0.26
lxml==5.2.1
lxml_html_clean==0.1.1
magicgui==0.6.1
mailchecker==5.0.9
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-aximgcache==0.1.0
matplotlib-extract==0.1.2
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
maxlikespy @ git+https://github.com/CommanderPho/maxlikespy@8d15f9e24465777b8d24e9dcc3a3ccbe9fae6242
mdit-py-plugins==0.4.0
mdurl==0.1.2
memory-profiler==0.61.0
mergedeep==1.3.4
microfilm==0.2.1
mistune==3.0.2
mizani==0.9.3
mkdocs==1.6.0
mkdocs-autorefs==1.0.1
mkdocs-gen-files==0.5.0
mkdocs-get-deps==0.2.0
mkdocs-jupyter==0.24.7
mkdocs-literate-nav==0.6.1
mkdocs-material==9.5.19
mkdocs-material-extensions==1.3.1
mkdocs-matplotlib==0.10.1
mkdocs-section-index==0.3.9
mkdocstrings==0.24.3
mkdocstrings-python==1.10.0
mknotebooks==0.7.1
MonkeyType==23.3.0
monotonic==1.6
more-itertools==10.2.0
mpl-interactions==0.23.2
mpl-multitab @ git+https://github.com/CommanderPho/mpl-multitab.git@0b02d2a616e39e5bac10797228fedb71bd8b8fc8
mpl-scatter-density==0.7
mpl-sizes==0.0.2
-e git+https://github.com/CommanderPho/matplotlib-style-builder.git@5745595b17da2dce58bbea6913338570a55f2022#egg=mpl_style_builder
mplcursors==0.5.3
mpldatacursor==0.7.1
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.13
mypy==1.10.0
mypy-extensions==1.0.0
nanotime==0.5.2
napari==0.4.19.post1
napari-animated-gif-io==0.1.2
napari-animation==0.0.7
napari-console==0.0.9
napari-geojson==0.1.3
napari-geoscience-viewer==0.1.1
napari-hdf5-netcdf-viewer==0.1.1
napari-plot-profile==0.2.2
napari-plugin-engine==0.2.0
napari-skimage-regionprops==0.10.1
napari-svg==0.1.10
napari-tools-menu==0.1.19
napari-workflows==0.2.10
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.16.3
nbformat==5.10.4
nbstripout==0.6.2
ndindex==1.8
neo==0.13.0
neptune==1.10.2
nest-asyncio==1.6.0
netCDF4==1.6.5
networkx==3.2.1
neuropy==0.0.9
notebook==6.5.4
notebook_shim==0.2.4
npe2==0.7.5
nptyping==2.5.0
numba==0.56.4
numcodecs==0.12.1
numexpr==2.10.0
numpy==1.23.5
numpydoc==1.7.0
oauth2client==4.1.3
oauthlib==3.2.2
objexplore==1.6.3
objgraph==3.6.1
objprint==0.2.3
objsize==0.6.1
omegaconf==2.3.0
opencv-python==4.9.0.80
openpyxl==3.1.2
openTSNE==1.0.1
orange-canvas-core==0.1.35
orange-widget-base==4.22.0
Orange3==3.36.2
orjson==3.10.1
outdated==0.2.2
overrides==7.7.0
packaging==24.0
paginate==0.5.6
palettable==3.3.3
pandas==1.5.3
pandas-flavor==0.6.0
pandas-stubs-fork==1.5.3.230214
pandocfilters==1.5.1
panel==1.2.3
param==1.13.0
params==0.9.0
parso==0.8.4
partd==1.4.1
patchworklib==0.6.3
path==16.14.0
pathos==0.2.9
pathspec==0.12.1
patsy==0.5.6
peakdetect==1.1
perspective-python==2.10.0
phonenumbers==8.13.35
Pillow==9.5.0
pingouin==0.5.4
Pint==0.23
platformdirs==4.2.1
plotly==5.21.0
plotnine==0.12.4
pluggy==1.4.0
pooch==1.8.1
portion @ git+https://github.com/CommanderPho/portion.git@d2497756daa215d4897b4cc0223b6fd5db8abcce
pox==0.3.4
ppft==1.7.6.8
progressbar2==4.4.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proplot==0.0.post4037
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
psygnal==0.11.0
pure-eval==0.2.2
pvextractor==0.4
py-cpuinfo==9.0.0
py2vega==0.6.1
pyAn==0.1.3
pyannotate==1.2.0
pyarrow==16.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybursts @ git+https://github.com/CommanderPho/pybursts.git@1ba22ea6caa047676821f5c54ac548c022de67af
pycodestyle==2.11.1
pycorrelate==0.3
pycparser==2.22
pycscope==1.2.1
pyct==0.5.0
pydantic==2.7.1
pydantic-compat==0.1.2
pydantic_core==2.18.2
pydeck==0.8.0
pydot==2.0.0
PyDrive2==1.19.0
pyerfa==2.0.1.4
pyflakes==3.2.0
pygit2==1.14.1
Pygments==2.17.2
pygtrie==2.5.0
PyJWT==2.8.0
pymdown-extensions==10.8.1
pynapple==0.3.6
pynwb==2.6.0
pyopencl==2024.1
PyOpenGL==3.1.7
pyOpenSSL==24.1.0
pyparsing==3.1.2
-e git+https://github.com/CommanderPho/pyPhoCoreHelpers.git@ffdad73903b10f4fdaee21407cb97c623c573648#egg=pyphocorehelpers&subdirectory=..\..\pyphocorehelpers
-e git+https://github.com/CommanderPho/pyPhoPlaceCellAnalysis.git@f63771981bb7336499274c601da311ae77b4ca4d#egg=pyphoplacecellanalysis&subdirectory=..\..\pyphoplacecellanalysis
pyproject_hooks==1.0.0
pyqode-core @ file:///C:/Users/pho/repos/Spike3DWorkEnv/pyqode.core/dist/pyqode_core-3.0.0-py2.py3-none-any.whl
pyqode.python @ file:///C:/Users/pho/repos/Spike3DWorkEnv/pyqode.python/dist/pyqode.python-2.15.2-py2.py3-none-any.whl
PyQt-builder==1.16.2
pyqt-checkbox-table-widget==0.0.14
pyqt-custom-titlebar-window==0.0.50
pyqt-frameless-window==0.0.61
pyqt-mac-buttons-widget==0.0.15
pyqt-responsive-label==0.0.3
pyqt-svg-abstractbutton==0.0.7
pyqt-svg-button==0.0.26
pyqt-svg-icon-text-widget==0.0.31
pyqt-svg-label==0.0.13
pyqt-titlebar-buttons-widget==0.0.21
pyqt-top-titlebar-widget==0.0.21
pyqt-windows-buttons-widget==0.0.18
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5Custom==1.0.1
PyQt5Singleton==0.1
pyqtgraph==0.13.6
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
PySimpleGUI==4.60.5
pytest==7.4.4
python-benedict==0.28.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-fsutil==0.14.1
python-json-logger==2.0.7
python-louvain==0.16
python-markdown-math==0.8
python-slugify==7.0.0
python-utils==3.8.2
pythreejs==2.4.2
pytools==2024.1.2
pytz==2024.1
pyvista==0.36.1
pyvistaqt==0.9.1
pyviz-comms==2.3.2
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==26.0.2
qasync==0.27.1
QDarkStyle==3.2.3
QtAwesome==1.3.1
qtconsole==5.5.1
qtmodern==0.2.0
QtPy==2.4.1
qtvoila==2.1.0
quantities==0.15.0
radio-beam==0.3.7
rdp==0.8
referencing==0.35.0
regex==2023.12.25
requests==2.31.0
requests-cache==1.2.0
requests-oauthlib==2.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruptures==1.1.9
s3transfer==0.10.1
scikit-image==0.22.0
scikit-learn==1.3.2
scikit-posthocs==0.7.0
scipy==1.13.0
scmrepo==0.2.1
scooby==0.9.2
seaborn==0.12.2
seaborn-image==0.6.0
Send2Trash==1.8.3
serverfiles==0.3.1
shapely==2.0.4
shellingham==1.5.4
shiboken6==6.7.0
shortuuid==1.0.13
shtab==1.7.1
sidecar==0.7.0
silx==2.1.0
simplejson==3.19.2
sip==6.8.3
six==1.16.0
smmap==5.0.1
snakeviz==2.2.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
spectral-cube==0.6.5
Sphinx==7.3.7
sphinx-autodoc-typehints==2.1.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.29
sqltrie==0.11.0
srsly==2.4.8
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
streamlit==1.33.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-tree-select==0.0.5
streamlit-vertical-slider==2.5.5
structlog==24.1.0
superqt==0.6.4
swagger-spec-validator==3.0.3
tables==3.9.2
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.4.0
tifffile==2024.4.24
tikzplotlib==0.10.1
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.4
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
traittypes==0.2.1
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typed-ast==1.5.5
typeguard==4.2.1
typer==0.12.3
typer-cli==0.12.0
typer-slim==0.12.0
types-python-dateutil==2.9.0.20240316
types-pytz==2024.1.0.20240417
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.18
uvicorn==0.29.0
vaex==4.17.0
vaex-astro==0.9.3
vaex-core==4.17.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.2
vaex-ml==0.18.3
vaex-server==0.9.0
vaex-viz==0.5.4
validators==0.22.0
vedo @ git+https://github.com/CommanderPho/vedo.git@a0784a47d1b1a92f71b81f153c12856ccf7ec242
versioned-hdf5==1.6.0
vine==5.1.0
vispy==0.14.2
ViTables==3.0.3
viztracer==0.15.6
voila==0.5.6
voluptuous==0.14.2
vtk==9.0.3
watchdog==4.0.1
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
wget==3.2
widgetsnbextension==4.0.10
win32-setctime==1.1.0
wrapt==1.11.2
wslink==2.0.2
xarray==2023.12.0
xarray-datatree==0.0.12
xgboost==2.0.3
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.13.0
xyzservices==2024.4.0
y-py==0.6.2
yarl==1.9.4
ypy-websocket==0.8.4
zarr==2.17.2
zc.lockfile==3.0.post1
zipp==3.18.1
zope.interface==6.3
